/* xs */
/* @media (min-width: 475px) {

} */

/* sm */
/* @media (min-width: 640px) {

} */

/* md */
/* @media (min-width: 768px) {

} */

/* Lg */
/* @media (min-width: 1024px) {

} */

/* xL */
/* @media (min-width: 1280px) {

} */

/* 2xL */
/* @media (min-width: 1536px) {

} */

.btn {
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -0.05em;
    background-color: var(--clr-rose);
    color: var(--clr-light);
    padding: 0.5em 1em;
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(225, 29, 72, 0.5), 0 6px 6px rgba(225, 29, 72, 0.5), 0 0 100px -10px var(--clr-rose);
    transition: transform 0.3s, box-shadow 0.3s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 14px 28px rgba(225, 29, 72, 0.25), 0 10px 10px rgba(225, 29, 72, 0.22), 0 0 120px -10px var(--clr-rose)
}


.row {
    display: flex;
}

.left-column,
.right-column {
    flex-basis: 50%; /* Each column takes up half of the available space */
}

.cv_app-download-button {
    display: block; /* Ensure the button takes up the full width of its container */
    margin: 0 auto; /* Center the button horizontally */
  }

@media screen and (max-width: 1480px) {
    .row {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center the columns vertically */
        justify-content: center; /* Center the columns horizontally */
        
    }

    .left-column,
    .right-column {
        flex-basis: 100%; /* Each column takes up 100% of the available space */
    }

    /* Additional styles to override conflicting left column alignment */
    .left-column {
        margin-bottom: 20px; /* Optional: Add space between the columns */
    }
}

